<div class="create-container">
  <div class="button-container">
    <button (click)="addTodo()">Create</button>
    <select [(ngModel)]="taskImportance" [ngClass]="{'normal': taskImportance === 0, 'important': taskImportance === 1, 'urgent': taskImportance === 2}"
            [matTooltip]="'Select Importance for new Todo'">
      <option value="0" (click)="taskImportance = 0">Normal</option>
      <option value="1" (click)="taskImportance = 1">Important</option>
      <option value="2" (click)="taskImportance = 2">Urgent</option>
    </select>
  </div>

  <div class="input-container">
    <input #taskTitleInput [(ngModel)]="taskTitleInputText" type="text" placeholder="Enter new Todo Title">
  </div>
</div>
