.todo-container,
.urgent-container,
.important-container,
.normal-container,
.completed-todo-container,
.search-container {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  gap: 1.26%;
  width: 70vw;
}

.urgent-container app-todo-card,
.important-container app-todo-card,
.normal-container app-todo-card,
.completed-todo-container app-todo-card,
.search-container app-todo-card {
  flex-basis: 24%;
  min-width: 200px;
  box-sizing: border-box;
}


