<app-todo-header (createTodo)="loadData()" (searchTodo)="onSearchTodo($event)"></app-todo-header>

<div class="todo-container">
  <div class="standard-todo-container" *ngIf="searchResult.length === 0">
    <div class="uncompleted-todo-container">
      <div *ngIf="urgentTodos.length != 0">
        <div id="urgent" class="urgent-container">
          <app-todo-card *ngFor="let t of (showAllUrgentTodos ? urgentTodos : urgentTodos.slice(0, 4)); trackBy: trackById" [todo]="t" (update)="loadData()"></app-todo-card>
        </div>
        <app-card-seperator
          [todos]="urgentTodos"
          [importanceLabel]="'Urgent'"
          [importance]="2"
          [showAll]="showAllUrgentTodos"
          (update)="loadData()"
          (toggleShow)="showAllUrgentTodos = $event">
        </app-card-seperator>
      </div>

      <div *ngIf="importantTodos.length != 0">
        <div id="important" class="important-container">
          <app-todo-card *ngFor="let t of (showAllImportantTodos ? importantTodos : importantTodos.slice(0, 4)); trackBy: trackById" [todo]="t" (update)="loadData()"></app-todo-card>
        </div>
        <app-card-seperator
          [todos]="importantTodos"
          [importanceLabel]="'Important'"
          [importance]="1"
          [showAll]="showAllImportantTodos"
          (update)="loadData()"
          (toggleShow)="showAllImportantTodos = $event">
        </app-card-seperator>
      </div>

      <div *ngIf="normalTodos.length != 0">
        <div id="normal" class="normal-container">
          <app-todo-card *ngFor="let t of (showAllNormalTodos ? normalTodos : normalTodos.slice(0, 4)); trackBy: trackById" [todo]="t" (update)="loadData()"></app-todo-card>
        </div>
        <app-card-seperator
          [todos]="normalTodos"
          [importanceLabel]="'Normal'"
          [importance]="0"
          [showAll]="showAllNormalTodos"
          (update)="loadData()"
          (toggleShow)="showAllNormalTodos = $event">
        </app-card-seperator>
      </div>
    </div>

    <div *ngIf="completedTodos.length != 0">
      <div id="completed" class="completed-todo-container">
        <app-todo-card *ngFor="let t of (showAllCompletedTodos ? completedTodos : completedTodos.slice(0, 4)); trackBy: trackById" [todo]="t" (update)="loadData()"></app-todo-card>
      </div>
      <app-card-seperator
        [todos]="completedTodos"
        [importanceLabel]="'Completed'"
        [importance]="-1"
        [showAll]="showAllCompletedTodos"
        (update)="loadData()"
        (toggleShow)="showAllCompletedTodos = $event">
      </app-card-seperator>
    </div>
  </div>

  <div class="search-container" *ngIf="searchResult.length > 0">
    <app-todo-card *ngFor="let t of searchResult; trackBy: trackById" [todo]="t" (update)="loadData()"></app-todo-card>
  </div>
</div>



