input[type="checkbox"] {
  margin-right: 10px;
  accent-color: dodgerblue;
}

span {
  font-family: "Arial", serif;
  cursor: pointer;
  transition: 0.1s;
}

span:hover {
  color: dodgerblue;
  text-decoration: underline;
}

div {
  margin-bottom: 10px;
}
