div {
  margin-top: 0.2rem;
}

.todo-container {
  display: flex;
  flex-flow: column wrap;
  width: 70vw;
  gap: 1rem;
}

.todo-row-container,
.completed-row-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}

.urgent-container,
.important-container,
.normal-container,
.completed-container,
.search-container {
  flex-basis: 30%;
  background-color: white;
  border-radius: 20px;
  padding: 1rem;
  box-shadow: lightgrey 0 0 1rem;
}

.completed-row-container div {
  box-shadow: none;
}

.completed-header {
  display: flex;
  align-items: center;
  gap: 0.5rem
}

.completed-header hr {
  flex-grow: 1;
}

.delete-completed:hover {
  background-color: red;
  border-color: red;
  color: white;
}

.urgent,
.important,
.normal,
.complete,
.search {
  margin-top: 0;
  padding: 0.5rem;
  border-radius: 20px;
  text-align: center;
}


