<div #headerContainer id="headerContainer" class="header-container">
  <h1>To-Do</h1>
  <div class="info-container">
    <app-view-selector></app-view-selector>
    <app-todo-status (scroll)="scrollToSection($event)"></app-todo-status>
  </div>
  <div>
    <app-todo-header-search (searchTodo)="onSearchTodo($event)"></app-todo-header-search>
    <app-todo-header-create (createTodo)="onCreateTodo($event)"></app-todo-header-create>
  </div>
</div>
<div #headerPlaceholder class="header-placeholder"></div>


