h1 {
  margin-bottom: 0;
}

.header-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
  width: 90rem;
}

.header-container div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.info-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 15rem;
  margin: 0 auto 0.25rem;
}
