<div #headerContainer id="headerContainer" class="header-container">
  <div class="title-container">
    <img ngSrc="checkbox.png" alt="checkbox" class="checkbox-icon" height="360" width="360">
    <h1>To-Do</h1>
  </div>
  <div class="info-container">
    <app-view-selector></app-view-selector>
    <app-todo-status (update)="onUpdate()"></app-todo-status>
  </div>
  <div>
    <app-todo-header-search (searchTodo)="onSearchTodo($event)"></app-todo-header-search>
    <app-todo-header-create (createTodo)="onCreateTodo($event)"></app-todo-header-create>
  </div>
</div>
<div #headerPlaceholder class="header-placeholder"></div>


