:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div {
  font-family: Arial, serif;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 30px;
  border-style: solid;
  border-color: lightgrey;

  i {
    color: black; /* Set icon color to black */
  }
}
