<div>
  <div class="status-pill">
    <a href="card#" style="background-color: darkgray; margin-left: 0.2rem" [matTooltip]="'Total Todos'">{{ totalTodos }}</a>
    <hr>
    <a href="card#urgent" style="background-color: red" [matTooltip]="'Urgent Todos'">{{ urgentTodos }}</a>
    <a href="card#important" style="background-color: orange" [matTooltip]="'Important Todos'">{{ importantTodos }}</a>
    <a href="card#normal" style="background-color: black" [matTooltip]="'Normal Todos'">{{ normalTodos }}</a>
    <hr>
    <a href="card#completed" style="background-color: limegreen; margin-right: 0.2rem" [matTooltip]="'Completed Todos'">{{ completedTodos }}</a>
  </div>
</div>
<app-loading (update)="onUpdate()"></app-loading>
