<div [class.selected]="todo.isSelected" class="card-container">
  <div class="importance-container">
    <select [(ngModel)]="todo.importance" [ngClass]="todo | importanceCard ">
      <option value="0" (click)="changeImportance(0)">Normal</option>
      <option value="1" (click)="changeImportance(1)">Important</option>
      <option value="2" (click)="changeImportance(2)">Urgent</option>
    </select>
  </div>

  <div class="main-container">
    <div class="title-container">
      <input type="text" [(ngModel)]="todo.taskTitle" (ngModelChange)="updateTodoItem()">
    </div>

    <div class="description-container">
      <textarea [(ngModel)]="todo.taskDescription" (ngModelChange)="updateTodoItem()" [spellcheck]="false"></textarea>
    </div>
  </div>

  <div class="button-container">
    <div class="complete-button-container">
      <button (click)="changeCompleted()">{{ todo.isCompleted ? 'Uncomplete' : 'Complete' }}</button>
    </div>
    <hr>
    <div class="select-container">
      <input type="checkbox" [(ngModel)]="todo.isSelected" (ngModelChange)="updateTodoItem()">
    </div>
    <hr *ngIf="todo.isCompleted">
    <div class="delete-button-container" *ngIf="todo.isCompleted">
      <button (click)="deleteTodo()">Delete</button>
    </div>
  </div>
</div>

