
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$todo-list-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($todo-list-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($todo-list-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($todo-list-theme);
* {
  font-family: Arial, serif;
  outline: none;
}

input[type="text"], button, textarea, select {
  border-radius: 20px;
  border-style: solid;
  border-color: lightgrey;
  padding: 10px;
  background-color: whitesmoke;
  transition: 0.15s;
}

textarea {
  font-size: small;
  scrollbar-width: thin;
  resize: none;
  height: 10rem;
  overflow: clip;
}

input[type="text"]:hover, textarea:hover, button:hover {
  background-color: lightgrey;
}

button:hover, select:hover{
  cursor: pointer;
}

.highlight {
  background-color: lightgrey;
}

.normal {
  background-color: black;
  border-color: black;
  color: white;
}

.normal:hover {
  background-color: black;
}

.important {
  background-color: orange;
  border-color: orange;
  color: white;
}

.important:hover {
  background-color: orange;
}

.urgent {
  background-color: red;
  border-color: red;
  color: white;
}

.urgent:hover {
  background-color: red;
}

.complete {
  background-color: limegreen;
  border-color: limegreen;
  color: white;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
